
<div class="container">
<ul class="list-group">
  <% @posts.each do |post| %>

    <li class="list-group-item">User has... <%= post.title%> </h2 class="pull-r"> <span class="pull-right"><%=link_to 'View', post%></span></li>
  <%end%>
</ul>
</div>
