<div class="container">
<ul class="list-group">
  <% @posts.each do |date, posts| %>
      <h4 class="text-center"><%= date.to_date.to_s %></h4>
      <ul>

        <% posts.each do |post| %>
          <li class="list-group-item">
           <%= post.user.email %> has... <%= post.title%> </h2 class="pull-r">
           <span class="pull-right"><%=link_to 'View', post%></span>
          </li>
        <%end%>
     </ul>
    </li>
  <%end%>
</ul>
</div>
