<div class="container">
  <h1 class="title">
    User has... <%= @post.title%>
  </h1>

  <p class="date">
   User did this <%= time_ago_in_words(@post.created_at)%> Ago
  </p>

  <p class="body">
    <%= @post.body %>
  </p>

  <p>
     <%=raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> 
  </p>

</div>
